<!doctype html><html lang="es"><meta charset="utf-8">
<title>{% block title %}KAWAK{% endblock %}</title>
<body style="font-family: sans-serif;">
<main class="container" style="margin: 20px; justify-content: center; flex-direction: column; align-items: center; display: flex;">
{% block content %}{% endblock %}
</main>
</body>
</html>
